/*-----------------------
         MAIN
------------------------*/

main{
    min-width: 9.6875rem;
}

section:nth-of-type(2n){
    background-color: white;
    color: black;
}

section:nth-of-type(odd){
    background-color: var(--ms-primary-color);
    color: white;
}

#hero{
    padding-bottom: 2.5rem;
}

#hero img{
    min-width: 6.25rem;
    max-width: 12.5rem;
    width: 30vw;
    height: auto;
}

.ms-btn{
    border: none;
    font-size: .875rem;
    border-radius: 1.25rem;
    padding: .375rem .75rem;
    color: inherit;
}

.ms-btn-transparent{
    background-color: transparent;
    border: .0625rem solid white;
}

.msg-height{
    min-height: 11.875rem;
}

#contact-form form{
    text-align: left;
}

.btn-contact{
    border: none;
    background-color: var(--ms-primary-color);
    color: white;
    border-radius: .1875rem;
    padding: .1875rem .375rem;
}

