/*-----------------
     HEADER 
-----------------*/

header{
    background-color: #2c3e50;
    color: white;
}

.ms-main-nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.ms-main-nav li{
    padding: 0 0.5rem;
}

.ms-main-nav li a:not(last-child){
    text-decoration: none;
    color: inherit;
}

header span{
    font-size: 1.5625rem;
}

section:nth-of-type(2n){
    background-color: white;
    color: black;
}

section:nth-of-type(odd){
    background-color: #1abc9c;
    color: white;
}

#hero{
    padding-bottom: 2.5rem;
}

#hero img{
    width: 12.5rem;
    height: auto;
}

#portfolio img{
    width: 100%;
    border-radius: .9375rem;
}

.container-custom{
    max-width: 56.25rem;
}

.ms-btn{
    border: none;
    font-size: .875rem;
    border-radius: 1.25rem;
    padding: .375rem .75rem;
    color: inherit;
}

.ms-btn-transparent{
    background-color: transparent;
    border: .0625rem solid white;
}

@media screen and (max-width:992px) {
    .container-custom{
        max-width: 40.625rem;
    }
}

footer .social-icons{
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    padding-top: .25rem;
    margin: 0 auto;
}

footer{
    color: white;
}

footer .informations{
    background-color: #3a546d;
}

.copyright{
    background-color: #2c3e50;
}

footer h3{
    font-size: 1.25rem;
}

