/*---------------------
       BACKGROUND-COLORS 
----------------------*/

.ms-bg-primary{
    background-color: var(--ms-primary-color);
}

.ms-bg-secondary{
    background-color: var(--ms-secondary-color);
}

.ms-bg-secondary-light{
    background-color: var(--ms-secondary-color-light);
}

/*------------------------
     CONTAINER 
-------------------------*/

.container-custom{
    width: 80%;
    max-width: 56.25rem;
}

@media screen and (max-width:992px) {
    .container-custom{
        max-width: 40.625rem;
    }
}